/* You can add global styles to this print, and also import other style files */

*{
  /*background: #5e5c5c;*/
  /*color: white;*/
  font-family: "Courier New";
}

html, body {
  margin: 0;
  height: 100%;
}

/* * * * * * * * * * * */
/* * * LIGHT THEME * * */
/* * * * * * * * * * * */

.themeLight{
  /*background-color: #333333;*/
  /*color: #ce0b63;*/
}

.navLight{
  background-color: pink;
}

.navLight:hover{
  /* => Bootsrap */
}

.dropdown-menu{
  /*color: red;*/
  width:170px;
  padding-left:5px;
  box-shadow: none;
  border-top: #f3f3f3;
  background-color: #fcfcfc;
  /*border-color: #f8f8f8;*/
}

.dropdown-item{
  color: rgb(37, 150, 245) !important;
  padding-left: 7px;
}

.dropdown-item:hover{
  color: rgb(37, 150, 245) !important;
}


/* * * * * * * * * * * */
/* * * DARK THEME * * */
/* * * * * * * * * * * */

.themeDark{
  background-color: #333333;
  color: #809ec0;
  /*color: rgba(184, 63, 208, 0.8);*/
}

.navDark{
  background-color: #2a2727 !important;
  color: white;
}





.dropdown-menuDark{
  /*color: red;*/
  width:180px;
  padding-left:5px;
  box-shadow: none;
  border-top: #f3f3f3;
  background-color: #c71b1b;
  /*border-color: #f8f8f8;*/
}
.dropdown-itemDark{
  color: rgb(194, 88, 12) !important;
}











/*body{*/
/*  body: flex;*/
/*  flex-direction: column;*/
/*  height: auto;*/
/*}*/

/*footer{*/
/*  margin-top: auto;*/
/*  margin-bottom: 0px;*/
/*}*/

/*.copyright{*/
/*  width:100%;*/
/*  padding-left:38%;*/
/*  color:rgba(208,202,202,1);*/
/*  border-bottom:none;*/
/*  font-size:0.7em*/
/*}*/
